<div class="big-bg">
  <div class="about-content wrapper">
    <h2 class=about-title>写真を撮って、楽しむ。共有する。</h2>
    <p>PicSquareは写真との出会いと交流を応援するWebアプリケーションです。</p>
    <a class="about-button" href="/" >投稿された写真を見る</a>
  </div>
  <div class="about-detail">
  <p>
  ローカルに保存した写真をWeb上に公開することができます。複数枚の写真を同時に投稿したり、あとで写真を変更することもできます。
  </p>
  <p>
  アイコン表示で誰でも直感的に操作できるデザインになっています。
  </p>
  <p>
  沢山の写真の中から検索をかけて好きな写真を見つけることができます。
  </p>
  <p>
  投稿された写真をお気に入りに登録できます。あとでマイページからお気に入りの写真のリストを見ることできます。
  </p>
  <p>
  素晴らしい写真には「いいね」をつけることやコメントを投稿することができます。 
  </p>
  <p>
  投稿者は通知を受け取ることができるので他のユーザーからの写真に対する反応をすぐにチェックできます。
  </p>
  </div>
</div>

