
<div id="contents">

  <div class="main">
  <div class=title>
    <h3>人気の写真</h3>
  </div>
aaaa


aaaa
  <br>
  <div class=title>
    <h3>最近投稿された写真</h3>
  </div>
    <div id="masonry-container" class="transitions-enable clearfix">
      <% @posts.each do |post| %>  
          <%  post.images.first(1).each do |image|  %>    
            <div class="box post">          
              <%= link_to "/posts/#{post.id}", method: :get do%>
                <%=image_tag image.image.to_s ,class: "eded"%>
                <div class="po">
                  <div class="post-title"><%= post.name%></div>
                  <div class="post-name">投稿者&nbsp<%= post.user.nickname %></div>
                </div>  
            </div>    
            <% end %>
          <% end %>
        
      <% end %>
    </div>

    
  </div>

</div>
