.header {
  .menu {
    background-color: $black;
    width :100vw;
    nav {
      display: flex;
      .menu-list{
        display: flex;
        ul {
          display: flex;
  
          li {
            height: 30px;
            border-bottom: 1px solid $dimblack;
            text-align: center;
            .list {
              color: $orange;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

}


.sspost {

  background-color: red;
}