.header {
  
  z-index: 10;
  .menu {
    background-color: $black;
    width :100vw;
    height: 60zpx;
    nav {
      display: flex;
      .header__bar {
        padding: 0 5%;
        width: 10%;
        .picsquare {
          font-family: serif;
          font-size: 24px;
          color: $orange;
          text-decoration: none;
          line-height: 50px;
        }

      }

      .nav-content{
        width: 90%;
        display: flex;
        justify-content: space-around;
        .search-box {
          display: flex;
          align-items: center;
          margin: 0 auto;
          .search-input{
            width:  30rem;
          }

        }
        .menu-list{
          left: 20%;
          height: 100%;
          display: flex;
          ul {
            display: flex;
            align-content: center;
    
            li {
              line-height: 60px;
              border: 1px solid $dimblack;
              text-align: center;
              padding: 0 10px;
              
              .list {
                color: $orange;
                text-decoration: none;
              }
            }
          }
        }

      }

    }
  }

}

.header .sticky {
  position: fixed;
  top: 0;
  z-index: 10;
}

footer {
  text-align: center;
  color: #FFF;
  background-color: black;
}