#main-title {
  color: $orange;
  text-decoration: none;
}

#contents {
  background-color: $gray;
  height: 100vh;
  i {
    color : $orange;
    text-decoration: none;
  }



  .main {
    background-color: $dimblack;
    height: 100%;
    overflow: scroll;
    
    .title {
      font-weight: bold;
      text-align: center;
      color: $orange;
      padding: 30px;
      border-bottom: 1px solid black;
    }

    .title2 {
      font-weight: bold;
      text-align: center;
      color: $orange;
      padding: 30px;
      border-top: 1px solid black;
    }

    .show {
      display: flex;
      justify-content: space-evenly;
      margin: 30px 0;
    }

    .more2 {
      .more_list {
        display: flex;
        justify-content: right;
        i {
          font-size: 300%;
          margin-left: 15px;
        }
      }
    }

    .category_tags {
      border: 1px solid $orange;
      padding: 10px 30px;
      .category_tag {
        color: $orange;
        text-decoration: none;
      }
    }  
  
    .ranking {
      width: 100%;
    }
    .text {
      font-size: large;
      text-align: center;
      margin: 20px 0;
      color: $dimwhite;
    }
    .posts {
      display: flex;
      flex-wrap: wrap;
      .post {
        background-color: $black;
        margin: 10px;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.4);;

        &__title {
          background-color: $orange;
          width: 100%;
          text-align: center;
        }
        
        .more {
          &__name {
            text-align: right;
            margin-right: 10px;
            .wwww {
            color: grey;
            text-decoration: none;
            font-size: small;
            
            }
          }
          &__list {
            display: flex;
            justify-content: space-evenly;
            li {
              padding: 5px 10px;
            }
          }
        }
      }
    }
  } 
}

.contents {
  background-color: $dimblack;
  height: 100vh;
  align-items: center;
  margin: 0 auto;
  .title3 {
    font-weight: bold;
    text-align: center;
    padding: 30px;
    border-bottom: 1px solid $black;
    color: $dimwhite;
  }
  .container {
    display: flex;
    flex-direction: column;
    
    .post-form {
      margin: 20px auto;;
    }
  }

}
.container {
  color: $dimwhite;
}

.post {
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 50px rbga(50,30,0,0.6);
}

.post s {
  z-index: 0;
  box-shadow: inset 0 0 50px rbga(50,30,0,0.6);
}
.post .po {
  color: red;
  background-color: #222;
  position: absolute;
  width: 100%;
  z-index: 10;

  min-height: 10%;
  bottom: -100%;
  opacity: 0.8;

  .post-title {
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 2px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 18px;
  }

  .post-name {
    color: white;
    text-align: right;
    padding-bottom: 5px;
    padding-right: 10px;
    font-size: 12px;
  }
}

#masonry-container {
  background: #222;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background-color: $dimblack;
  height: 100%;
  overflow: scroll;
}

#masonry-container .box {
  max-width: 25%;
  min-width: 10%;
  color: #222;
}


.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.slide {
  margin: 0px 5px;
  padding: 10px 5px;
  background-color:#222;
}

.slide-detail {
  background-color:#222;
  .post-title {
    text-align: center;
    color: #EEE;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
  }
  .post-name {
    text-align: right;
    color: #EEE;
    text-decoration: none;
    padding-right: 5%;
  }
}